*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

html,body{
	height: 100%;
}

/*Classes Auxiliares*/
/* .container{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding:0 2%;
} */

.w60{
	width: 60%;
	float: left;
}

.w40{
	width: 40%;
	float: left;
}

.w50{
	width: 50%;
	float: left;
}

.w33{
	float: left;
	width: 33.3%;
}
/* FIM das Classes auxiliares */

